################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoneSolution/.vs/PhoneSolution/v15/Server/sqlite3
/PhoneSolution/PhoneLibrary/obj/Debug
