################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PhoneSolution/.vs/PhoneSolution/v15/Server/sqlite3
/PhoneSolution/PhoneLibrary/obj/Debug
/PalindromeSolution/.vs/Palindromic/v15/Server/sqlite3
/Drag/.vs/Drag/v15/Server/sqlite3
/ConsumeDrag/.vs/ConsumeDrag/v15/Server/sqlite3